@model SNW.Models.Product

@{
    ViewBag.Title = "Product Details";
}

<h2>Product Details</h2>

<div>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            Category
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductCategory.productCategoryName)
        </dd>

        <dt>
            ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productID)
        </dd>

        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productName)
        </dd>

        <dt>
            Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productDescription)
        </dd>

        <dt>
            Organic Status
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productOrganicStatus)
        </dd>

        <dt>
            Origin
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productOrigin)
        </dd>

        <dt>
            WHS Quantity
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productWHSQty)
        </dd>

        <dt>
            WHS Size
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productWHSsize)
        </dd>

        <dt>
            WHS Price
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productWHSPrice)
        </dd>

        <dt>
            SNW Divisor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productSNWDivisor)
        </dd>

        <dt>
            SNW Price
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productSNWPrice)
        </dd>

        <dt>
            Product Last Changed
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productDateLastChanged)
        </dd>

        <dt>
            Price Last Changed
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productPriceLastChanged)
        </dd>

        <dt>
            Approval
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductApproval.productApprovalName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.productID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
